<FilesMatch "\.json$">
    <IfModule mod_headers.c>
        SetEnvIf Origin "http(s)?://(localhost|18.191.212.248|arlet.duckdns.org)$" AccessControlAllowOrigin=$0
        Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
        Header merge Vary Origin
    </IfModule>
    Header set Access-Control-Allow-Methods "GET, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
    Header set Content-Type "application/json"
</FilesMatch>
